<mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <mat-card-title>{{ data()?.heading }}</mat-card-title>
  </mat-card-header>
  @if (isCurrencyType) {
    <mat-card-content>
        <p>{{ data()?.description | currency }}</p>
    </mat-card-content>
  }
  @if (isTextType) {
    <mat-card-content>
        <p>{{ data()?.description }}</p>
    </mat-card-content>
  }
  
  @if (hasChildrenLinks) {
    <mat-card-footer class="example-card-footer">
        <mat-chip-set aria-label="Footer Links">
            <mat-chip>charming</mat-chip>
            <mat-chip>graceful</mat-chip>
            <mat-chip>sassy</mat-chip>
        </mat-chip-set>
    </mat-card-footer>
  }
  
</mat-card>
