<div class="row">
    <mat-form-field appearance="outline">
        <mat-label>Address</mat-label>
        <input matInput type="text" placeholder="Address" [field]="addressField().address">
        @if( addressField().address().invalid() && addressField().address().touched()) {
            @for (error of addressField().address().errors(); track error.kind) {
                <mat-error class="error-message">{{ error.message }}</mat-error>
            }
      }
    </mat-form-field>
</div>
<div class="row">
    <mat-form-field appearance="outline">
        <mat-label>Address 2</mat-label>
        <input matInput type="text" placeholder="Address 2" [field]="addressField().address2">
    </mat-form-field>
</div>
<div class="form-row">
    <mat-form-field appearance="outline">
        <mat-label>City</mat-label>
        <input matInput type="text" placeholder="City" [field]="addressField().city">
        @if( addressField().city().invalid() && addressField().city().touched()) {
            @for (error of addressField().city().errors(); track error.kind) {
                <mat-error class="error-message">{{ error.message }}</mat-error>
            }
      }
    </mat-form-field>
    
    <mat-form-field appearance="outline">
        <mat-label>State</mat-label>
        <mat-select [field]="addressField().state" placeholder="State">
            @for (state of states(); track state.code) {
                <mat-option [value]="state.code">{{ state.name }}</mat-option>
            }
        </mat-select>
        @if( addressField().state().invalid() && addressField().state().touched()) {
            @for (error of addressField().state().errors(); track error.kind) {
                <mat-error class="error-message">{{ error.message }}</mat-error>
            }
      }
    </mat-form-field>
    
    <mat-form-field appearance="outline">
        <mat-label>Postal Code</mat-label>
        <input matInput type="text" placeholder="Zip Code" [field]="addressField().postalCode">
        @if( addressField().postalCode().invalid() && addressField().postalCode().touched()) {
            @for (error of addressField().postalCode().errors(); track error.kind) {
                <mat-error class="error-message">{{ error.message }}</mat-error>
            }
      }
    </mat-form-field>
</div>
