// Source - https://stackoverflow.com/a
// Posted by Jorge Mussato
// Retrieved 2025-12-07, License - CC BY-SA 4.0

@use '@angular/material' as mat;

@mixin custom-stepper-theme() {
  .mat-horizontal-stepper-header {
    pointer-events: none;
  }
}

.flex-grid {
  display: flex;
  flex-flow: row wrap;
  /* This aligns items to the end line on main-axis */
  justify-content: center;
}
