.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.content {
  min-height: calc(100vh - 128px);
  padding: 16px;
}

.footer {
  margin-top: auto;
}

.nested-nav {
  background-color: rgba(0, 0, 0, 0.05);
}

.nested-item {
  padding-left: 32px !important;
}