@use "tailwindcss";
@use '@angular/material' as mat;

@include mat.core();

$primary: mat.m2-define-palette(mat.$m2-blue-palette);
$accent: mat.m2-define-palette(mat.$m2-pink-palette, A200, A100, A400);
$warn: mat.m2-define-palette(mat.$m2-red-palette);

$theme: mat.m2-define-light-theme((
  color: (
    primary: $primary,
    accent: $accent,
    warn: $warn,
  ),
  typography: mat.m2-define-typography-config(),
  density: -5,
));

@include mat.all-component-themes($theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// Global mat-select panel styles for item component
.item-select-panel {
  .mat-mdc-option {
    font-size: 10px !important;
    min-height: 32px !important;
    height: 32px !important;
  }
}
